.page-header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 147px;
    background-color: @gray_pager;
    backdrop-filter: blur(20px);
    z-index: 100;

    &_container{
        .container();
        
        display: flex;
        align-items: center;
    }

    &_logo{
        flex-shrink: 0;
        width: 202px;
        height: 147px;
        font-size: 0;
        text-decoration: none;
    }

    &_logo-icon{
        height:100%;
        width: 100%;
    }

    &_nav{
        display: flex;
        align-items: baseline;
        margin: 0 auto; /*верх низ 0, по краям выравнивается*/
        gap: 50px;
    }

   &_nav-link{

        text-decoration: none; /*Обнуляем браузерные стили*/
        color: @black;
        font-size: 18px;
        line-height: 1.3; /*примерно то же самое, что и 25п*/
        transition: color 0.2s; /*плавное изменения состояня элемента*/
        font-weight: 600;
        
        &:hover,:active{
            color: @red;
        }
    }

    &_right-block{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 202px;
    }
}